.headline {
  font-size: 5rem;
  font-family: var(--font-serif);
  text-align: center;
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.content {
  padding: 1rem;
  background-color: var(--dusty-aqua-light);
  border: 1px solid var(--dusty-aqua);
  margin-bottom: 1rem;
}
/* .content :first-child {
  margin-top: 0;
} */
.content :last-child {
  margin-bottom: 0;
}

.formGrid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 25px;
}

.formGrid img {
  aspect-ratio: 1 / 1;
  max-width: 100%;
  height: auto;
  filter: saturate(0.8);
}

.form {
  display: flex;
  flex-direction: column;
  background-color: var(--dusty-blue-lighter);
  padding: 1rem;
}

.form > .checkBox {
  align-self: self-start;
  margin-top: 1rem;
  margin-inline: 0;
  border-radius: 0;
}

.form p {
  margin-top: 0;
  color: var(--dark-blue);
}

.label {
  margin: 0.5rem 0;
  font-weight: 700;
  display: block;
}

.select,
.price {
  width: 100%;
}

.button {
  width: 200px;
  margin-top: 1rem;
  padding: 0.5rem;
  background: var(--blue);
  color: var(--white);
  border-radius: 25px;
  transition: 100ms;
}
.button:hover {
  background: var(--hover);
}

.contactForm {
  background-color: hotpink;
}
